@font-face {
        font-family: 'Roboto';
        font-display: swap;
        font-weight: 400 700;
        src: url('/assets/fonts/Roboto-Regular.ttf');
}

:root {
        --darkslategray: hsl(234, 29%, 20%);
        --charcoalgray: hsl(235, 18%, 26%);
        --gray: hsl(231, 7%, 60%);
        --white: hsl(0, 0%, 100%);
        --tomato: hsl(4, 100%, 67%);
}
body {
        font-family: Roboto, sans-serif;
        font-size: 16px;
        color: var(--darkslategray);
}

container {
        display: flex;
}

.card-left {
        border-bottom: 2em;
}

.list {
        display:flex;
        flex-direction: row;
}


.bullet {
        display: flex;
}