@font-face {
        font-family: 'Roboto';
        font-display: swap;
        font-weight: 400 700;
        src: url('/assets/fonts/Roboto-Regular.ttf');
}

:root {
        --darkslategray: hsl(234, 29%, 20%);
        --charcoalgray: hsl(235, 18%, 26%);
        --gray: hsl(231, 7%, 60%);
        --white: hsl(0, 0%, 100%);
        --tomato: hsl(4, 100%, 67%);
}
body {
        font-family: Roboto, sans-serif;
        font-size: 16px;
        color: var(--darkslategray);
        background-color: var(--charcoalgray);
}

container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 1440px;
        width: 60%;
        margin: 0 auto;
        background-color: var(--white);
        border-radius: 24px;
}

h1 {
        font-size: 60px;
}
.card-left {
        padding: 2em;
        flex-grow: 1;
}

.list {
        display:flex;
        flex-direction: column;
        gap: 2px;
        margin-bottom: 24px;
}


.bullet {
        display: flex;
        align-items: center;
}

#checkmark {
        margin-right: 16px;
}

label {
        color: var(--darkslategray);
        font-weight: 700;
        font-size: 10px;
        margin-bottom: 4px;

}

 #email {
        border-color: var(--gray);
        border-radius: 6px;
        padding: 16px auto;
        width: 100%;
        margin-bottom: 8px;
        height: 48px;
 }

 #submit {
        background-color: var(--darkslategray);
        color: var(--white);
        border-radius: 6px;
        padding-top: 16px;
        padding-bottom: 16px;;
        margin:auto;
        width: 100%;
 }

 #submit:active, #submit:hover {
        background-color: var(--tomato);
        font-weight: 700;
        box-shadow: 0 6px 15px var(--tomato);
        border: none;
 }

 input:invalid {
        border: var(--tomato);
        background-color: var(--tomato) 50%;

 }
.card-right {
        padding: 1em;
        flex-grow: 1;
}

.success-card {
        background-color: var(--white);
        width: 350px;
        border-radius: 8px;
        padding: 8px 8px;
}

.attribution {
        color: var(--white);
        margin: 0 auto;
        text-align: center;
}

.attribution > a {
        color: var(--white);
}