@font-face {
        font-family: 'Roboto';
        font-display: swap;
        font-weight: 400 700;
        src: url('/assets/fonts/Roboto-Regular.ttf');
}

:root {
        --darkslategray: hsl(234, 29%, 20%);
        --charcoalgray: hsl(235, 18%, 26%);
        --gray: hsl(231, 7%, 60%);
        --white: hsl(0, 0%, 100%);
        --tomato: hsl(4, 100%, 67%);
}
body {
        font-family: Roboto, sans-serif;
        font-size: 16px;
        color: var(--darkslategray);
        background-color: var(--charcoalgray);
}

container {
        display: flex;
        flex-direction: row;
        max-width: 1440px;
        width: 60%;
        margin: 0 auto;
        background-color: var(--white);
        border-radius: 24px;
}

.card-left {
        border-bottom: 2em;
        padding: 2em;
}

.list {
        display:flex;
        flex-direction: column;
        gap: 2px;
        margin-bottom: 24px;
}


.bullet {
        display: flex;
        align-items: center;
}

#checkmark {
        margin-right: 16px;
}

#containeremail {
        display: block;
}

label {
        color: var(--darkslategray);
        font-weight: 700;
        font-size: 10px;
}
 #email {
        border-color: var(--gray);
        border-radius: 8px;
        padding-left: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
 }

 #submit {
        background-color: var(--darkslategray);
        color: var(--white);
        padding: 4px auto;
 }

.card-right {
        padding: 1em;
}